#contact {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .row {
    display: flex;
    gap: 20px;
  }

  .text-area {
    display: flex;
    flex-direction: column;
    gap: 8px;
    outline: none;

    .label {
      font-weight: 700;
      font-size: 14px;
      color: #10002e;
    }

    .textarea {
      width: 100%;
      height: 220px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      padding: 12px 12px 12px 0px;
      gap: 10px;
      background: #ffffff;
      border: 1px solid #d5d4dc;
      border-radius: 8px;
    }
  }
}
