@font-face {
  font-family: 'Great Vibes';
  font-weight: 400;
  src: url('GreatVibes.woff2') format('woff2'),
    url('GreatVibes.woff') format('woff');
}

.great-vibes-font {
  font-family: 'Great Vibes';
}