@import "./../mixins";

.banner {
  width: 826px;
  min-height: 209px;
  padding: 30px;
  justify-content: flex-end;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

  h1 {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  .img {
    width: 306px;
    height: 280px;
    position: absolute;
    left: 0;
    top: -71px;
  }
}
