@import "./../mixins";

.banner {
  width: 100%;
  min-height: 300px;
  padding: 30px;
  justify-content: flex-end;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;

  h1 {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
  }

  h4 {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
  }

  .img {
    width: 306px;
    height: 280px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .test{
    background-color: rgba(255, 0, 0, 0.24);
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    border-radius: 12px;
    z-index: 1;
  }
}
