@import './../mixins';

#facebookReviews {
  width: 100%;
  @include flex-start-start;
  gap: 20px;
  @include flex-wrap;
  

  .review {
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    width: 280px;
    padding: 10px;

    .header {
      @include flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 10px;

      .info{
        @include flex-start-center;
        gap: 10px;
      }
    }

    .title {
      color: #B38F22;
    }

    .date {
      color: #9A9A9A;
      font-size: 10px;
    }

    .reviewText {
      color: #333333;
    }

    .image {
      width: 50px;
      height: 50px;
      border-radius: 100%;
    }

    .logo{
      width: 20px;
      height: 20px;
    }

    .readMore{
      text-decoration: none;
      margin-top: 10px;
      display: block;
      text-align: right;
    }

  }




}