#gallery {
  .content {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin: 20px 0;

    img{
      cursor: pointer;
      width: 150px;
      height: 150px;
      left: 516px;
      top: 86px;
      border-radius: 16px;
      object-fit: cover;
    }
  }
}
